## permet de cacher les fichiers dans tous les dossier
IndexOptions FancyIndexing SuppressDescription SuppressLastModified SuppressSize
IndexIgnore *

<IfModule mod_rewrite.c>
		RewriteEngine On
		RewriteBase /uniguerre_v6/
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ([a-z]+)/Textures/(.*)  view/$1/resources/img/texture/$2 [L]
		RewriteRule ([a-z]+)/Images/(.*)  view/$1/resources/img/$2 [L]
		RewriteRule ([a-z]+)/Css/(.*)  view/$1/resources/css/$2 [L]
		RewriteRule ([a-z]+)/Js/(.*)  view/$1/resources/js/$2 [L]
</IfModule>
