<body>

    <div id="pageLogin">
        <header id="headlogin">

            <nav id="menu-dx-login">
                <ul>
                    <li class="wireless"></li>
                    <li class="time">
                        <ul>
                            <li class="hours"> </li>
                            <li class="point">:</li>
                            <li class="min"> </li>
                            <li class="point">:</li>
                            <li class="sec"> </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="uniguerre-logo"></div>
        </header>

        <div class="user-avatar">
            <div id="avatar">
                <a href="#hide" class="hide" id="hide"></a>
                <a href="#show" class="show" id="show"></a>
                <div id="cover"></div>
                <div class="ava-css">
                    <img src="res/img/accueil/connexion.jpg" />
                </div>
                <div id="switch">
                    <div class="validate">
                        <form action="#page">
                            <input type="text" name="champ" placeholder="Identifiant" />
                            <input type="password" name="champ" placeholder="Password" />
                            <input type="submit" class="btn btn-info" value="Se connecter" style="width: 198px;" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>