
<!-- DEB MENU -->
<div class="bs-component">
    <div class="navbar navbar-inverse">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
                <img src="./design/default/resources/img/wootook.png" alt="wootook" />
            </span>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="dropdown" onclick="executerRequete('ajax_login_accueil.php','','pageLogin');">Accueil</a></li>
                <li><a href="#" class="dropdown" onclick="executerRequete('ajax_login_connexion.php','','pageLogin');">Se connecter</a></li>
                <li><a href="#" class="dropdown" onclick="executerRequete('ajax_login_inscription.php','','pageLogin');">S'inscrire</a></li>  
                <li><a href="#" class="dropdown">Cr&eacute;dits</a></li> 
                <li><a href="#" class="dropdown">Forum</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- FIN MENU -->