<div class="col-lg-4"></div>
<div class="col-lg-4">
    <fieldset>
        <legend>Bienvenue sur Wootook</legend>
        <div class="form-group">
            Wootook est un jeu de stratégie en ligne gratuit, jouable par navigateur. 
            Partez à la conquête de l'univers en développant votre empire. 
            Imposez-vous et dominez en combattant les autres joueurs. <br />
            <br />
            Rejoingnez-nous!
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="S'inscrire">
            <input type="submit" class="btn btn-primary" value="Se connecter">
        </div>
    </fieldset>  
</div>
<div class="col-lg-4"></div>