<div class="col-lg-4"></div>
<div class="col-lg-4">
    <form class="form-horizontal" method="POST">
        <fieldset>
            <legend>Connexion sur Wootook</legend>
            <div class="form-group">
                <label for="ididentifiant" class="col-lg-4 control-label">Identifiant: </label>
                <div class="col-lg-8">
                    <input type="text" placeholder="identifiant" name="identifiant" id="ididentifiant" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="idmotdepasse" class="col-lg-4 control-label">Mot de passe: </label>
                <div class="col-lg-8">
                    <input type="password" placeholder="Mot de passe" name="motdepasse" id="idmotdepasse" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Connexion">
                <input type="button" class="btn btn-primary btn-xs" onclick="executerRequete('ajax_login_inscription.php', '', 'pageLogin');" value="S'inscrire">
            </div>
        </fieldset>
    </form>
</div>
<div class="col-lg-4"></div>
