<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
    <head>
        <title>{titrePage}</title><!-- META -->
        <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-language" content="fr" />
        <meta name="language" content="fr" />
        <meta content="kiwille" name="author"/>
        <meta content="index,follow,all" name="robots" />
        <meta content="wootook communauté" name="copyright"/>
        <meta content="Wootook , wargame , jeu , game" name="keywords" />
        <meta content="Wootook est un jeu de stratégie en ligne gratuit, jouable par navigateur. Partez à la conquête de l'univers en développant votre empire. Imposez-vous et dominez en combattant les autres joueurs." name="description"/>
        <meta content="never" name="Expires"/>
        <meta content="Tous public" name="rating"/>
        <meta content="Wootook communauté" name="subject"/>
        <link rel="shortcut icon" href="images/favicon.ico" />
        {headPage}
    </head>
    <body>
        {bodyPage}
    </body>
</html>
