<div class="col-lg-4"></div>
<div class="col-lg-4">
	<p>Planète qui tourne!</p>
	<div id="container">
            <!-- scene de la planete -->
        </div>
</div>
<div class="col-lg-4"></div>

<script type="text/javascript">
    var img_texture = "{path_design}img/texture/p09.jpg";
    var posX;
    var poxY;
    var posZ;
    
    if(mobile() === true) {
	posX = 200;
	posY = 250;
        posZ = 50;
    } else {
	posX = 400;
        posY = 500;
        posZ = 50;
    }
</script>
<script type="text/javascript" src="{path_design}js/animate_planets.js" ></script>