{navbar}
<div class="row">
    <div class="col-lg-9">
        <div id="page">
            {body}
        </div>
    </div>
    <div class="col-lg-3">
        <!--<div class="row">
            <div class="col-lg-12">{clock}</div>
        </div>-->
        <div class="row">
            <div class="col-lg-12">
                <div class="ug-onglets">
                    <div class="ug-onglet-text">Minerais</div>
                    <div class="ug-onglet-text">Items</div>
                </div>
                <div class="ug-cadre-ress">{ressource_game}</div>
            </div>
        </div>
    </div>
</div>
