<div class="col-lg-4"></div>
<div class="col-lg-4">
    
    <fieldset>
        <legend>Liens: </legend>

        <div class="row">
            <div class="form-group">
                <label class="col-lg-4 control-label">Site wootook</label>
                <div class="col-lg-8">
                    <a href="http://wootook.org/">http://wootook.org/</a>
                </div>
            </div>
        </div>
    </fieldset>  
    
    <br /><br />
    
    <fieldset>
        <legend>D&eacute;veloppeurs: </legend>

        <div class="row">
            <div class="form-group">
                <label class="col-lg-4 control-label">Kiwille </label>
                <div class="col-lg-8">
                    Développeur
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-lg-4 control-label">Mandalorien </label>
                <div class="col-lg-8">
                    Développeur, Designer
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-lg-4 control-label">Hoegarden </label>
                <div class="col-lg-8">
                    Développeur
                </div>
            </div>
        </div>
    </fieldset>  
    
</div>
<div class="col-lg-4"></div>