<div class="col-lg-12">
    <fieldset>
        <legend>{title_login} {title_game}</legend>
        <div class="form-group">
            {title_dec_1}<br />
            <br />
            {title_dec_2}
        </div>
        <br />
        <div class="form-group">
            <input type="button" class="btn btn-success" value="{btn_register}"  onclick="ExeRqt('ajax_login_inscription');">
            <input type="button" class="btn btn-primary" value="{btn_connect}"  onclick="ExeRqt('ajax_login_connexion');">
        </div>
    </fieldset>  
</div>
<input type="hidden" id="ajaxpage" value="ajax_login_accueil" />