<div class="col-lg-4"></div>
<div class="col-lg-4">
    <form class="form-horizontal" method="POST">
        <input type="hidden" name="page" value="inscription" /> <!-- la redirection -->
        
        <fieldset>
            <legend>Inscription sur Wootook</legend>
            <div class="form-group">
                <label for="ididentifiant" class="col-lg-4 control-label">Identifiant: </label>
                <div class="col-lg-8">
                    <input type="text" placeholder="identifiant" name="identifiant" id="ididentifiant" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="idmotdepasse" class="col-lg-4 control-label">Mot de passe: </label>
                <div class="col-lg-8">
                    <input type="password" placeholder="Mot de passe" name="motdepasse" id="idmotdepasse" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="idemail" class="col-lg-4 control-label">Email: </label>
                <div class="col-lg-8">
                    <input type="email" placeholder="Email" name="email" id="idemail" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="idPM" class="col-lg-4 control-label">Nom de planète</label>
                <div class="col-lg-8">
                    <input type="text" placeholder="Nom de votre planète" name="PM" id="idPM" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Inscription">
                <input type="reset" class="btn btn-danger" value="Réinitialiser">
            </div>
        </fieldset>
    </form>
</div>
<div class="col-lg-4"></div>
