<!-- ressource -->
<table class="table">
  <tbody>
    <tr>
		{ressource}
    </tr>
	<tr>
		<td>
			<div class="progress" data-toggle="tooltip" data-placement="top" data-original-title="60% du silo rempli">
				<div class="progress-bar" style="width: 60%;" ></div>
			</div>
		</td>
		<td>
			<div class="progress" data-toggle="tooltip" data-placement="top" data-original-title="40% du silo rempli">
				<div class="progress-bar" style="width: 40%;"></div>
			</div>
		</td>
	</tr>
	</tbody>
</table>