<div class="col-lg-4"></div>
<div class="col-lg-4">
    <fieldset>
        <legend>{title_login}</legend>
        <div class="form-group">
            {title_dec_1}<br />
            <br />
            {title_dec_2}
        </div>
        <br />
        <div class="form-group">
            <input type="button" class="btn btn-success" value="{register}"  onclick="ExeRqt('ajax_login_inscription.php', '', 'pageLogin');">
            <input type="button" class="btn btn-primary" value="{connect}"  onclick="ExeRqt('ajax_login_connexion.php', '', 'pageLogin');">
        </div>
    </fieldset>  
</div>
<div class="col-lg-4"></div>