<div id="navbarLogin">
    {navbar_login}
</div>

<div class="row">
    <div class="col-lg-6"> {langimg} </div>
    <div class="col-lg-6"> {clock_login} </div>
</div>

<!-- 
    TODO il doit y avoir moyen de faire des sauts de lignes plus propres avec du CSS 
-->
<br /><br /> 

<div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3"> 
            <!-- 
                TODO A déplacer dans "part_login_update.html" et faire mettre les styles dans le fichier CSS. 
                Voir également pour les traductions.
            -->
            <div class="panel-group panel" style="height: 400px; opacity: 0.8;">
                <div id="update" style="opacity: 1; margin: 20px;">
                    <h3>Mise à jour</h3>
                    test etdf dfrbrbrb tttey yheth yhteyh ythteh yth yhteh hyteh yhe
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <div id="page">
                {body_login}
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>