<div class="col-lg-4"></div>
<div class="col-lg-4">
    
    <fieldset>
        <legend>{credit_link}: </legend>

        <div class="row">
            <div class="form-group">
                <label class="col-lg-4 control-label">Site wootook</label>
                <div class="col-lg-8">
                    <a href="http://wootook.org/">http://wootook.org/</a>
                </div>
            </div>
        </div>
    </fieldset>  
    
    <br /><br />
    
    <fieldset>
        <legend>{credit_dev}: </legend>

        <div class="row">
            <div class="form-group">
                <label class="col-lg-4 control-label">Kiwille </label>
                <div class="col-lg-8">
                   {credit_fnd}, {credit_dev}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-lg-4 control-label">Mandalorien </label>
                <div class="col-lg-8">
                    {credit_dev}, {credit_des}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="col-lg-4 control-label">Hoegarden </label>
                <div class="col-lg-8">
                    {credit_dev}
                </div>
            </div>
        </div>
    </fieldset>  
    
</div>
<div class="col-lg-4"></div>